@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: 'Merienda', cursive;
}

.prose img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name{
  font-size: 150px;
}